.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 8px;
}

.content {
  max-width: 400px;
  width: 100%;
  margin-bottom: 8px;
  min-width: 0;
  display: flex;
}
