<mat-toolbar color="primary">
  <span>Диагностика сепсиса</span>
</mat-toolbar>

<div class="container">
  <app-infection *ngIf="showInit"
    title='Пациент с подозрением на инфекцию'
    (onAnswer)="setResultInfection($event)"></app-infection>

  <app-q-sofa (onAnswer)="setResultQSofa($event)" *ngIf="showQSofa"></app-q-sofa>

  <app-infection *ngIf="showInfection"
                 title='Все ещё есть подозрение на инфекцию'
                 (onAnswer)="setResultInfectionAgain($event)"></app-infection>

  <app-sofa *ngIf="showSofa"
            (onAnswer)="setResultSofa($event)"></app-sofa>

  <app-shock *ngIf="showSepsisQuestion"
             (result)="setShock($event)"></app-shock>

  <app-sepsis *ngIf="showSepsis"
              title="Сепсис">
  </app-sepsis>

  <app-sepsis *ngIf="showShock"
              title="Сепсис. Септический шок">
  </app-sepsis>

  <app-sepsis *ngIf="showGoodResult"
              title="Мониторинг клинического состояния, повторная оценка состояния по необходимости">
  </app-sepsis>
</div>
