<mat-toolbar color="primary">
  Диагностика сепсиса
</mat-toolbar>

<div class="container">
  <app-infection *ngIf="showInfectionQuestion"
                 [title]='infectionQuestion'
                 (onAnswer)="setResultInf($event)"
                 class="content"></app-infection>

  <app-q-sofa *ngIf="showQSofa"
              (onAnswer)="setResultQSofa($event)"
              class="content"></app-q-sofa>

  <app-sofa *ngIf="showSofa"
            (onAnswer)="setResultSofa($event)"
            class="content"></app-sofa>

  <app-shock *ngIf="showSepsisQuestion"
             (result)="setShock($event)"
             class="content"></app-shock>

  <app-sepsis *ngIf="showResult"
              [title]="result"
              class="content"></app-sepsis>
</div>
