<mat-toolbar color="primary">
    <span>Сепсис-3</span>
</mat-toolbar>
<div class="container">
  <div class="content">
    <p class="mat-title">Oпределение сепсиса</p>     
    <p class="mat-subheading-2">
      <span>Сепсис</span> 
      является угрожающим жизни состоянием, вызванное нарушением регуляции ответа хозяина на инфекцию
    </p>
    <p class="mat-subheading-2">
      <span>Септический шок</span> 
        является подвидом сепсиса, 
        в основе которого лежат нарушения циркуляции, 
        а патологические изменения в клетках и метаболизме достаточно глубоки, 
        чтобы в значительной степени увеличить летальность.
    </p>
  </div>
  
  <mat-card (click)="goDiagnosis()">
    <mat-card-title>
      Рекомендации по практическому применению клинических критериев 
      с целью идентификации пациента с сепсисом и септическим шоком
    </mat-card-title>
  </mat-card>
      
  <mat-card (click)="goTreatment()">
    <mat-card-title>
      Международные рекомендации по лечению сепсиса и Септического шока: 2016
    </mat-card-title>
  </mat-card>
</div>