<mat-toolbar color="primary">
  Сепсис-3
</mat-toolbar>
<div class="container">
  <div class="content">
    <p class="mat-title">Oпределение сепсиса</p>
    <p class="mat-subheading-2">
      <span>Сепсис</span>
      является угрожающим жизни состоянием, вызванное нарушением регуляции ответа хозяина на инфекцию
    </p>
    <p class="mat-subheading-2">
      <span>Септический шок</span>
      является подвидом сепсиса,
      в основе которого лежат нарушения циркуляции,
      а патологические изменения в клетках и метаболизме достаточно глубоки,
      чтобы в значительной степени увеличить летальность.
    </p>
  </div>

  <div class="button-container">
    <mat-card (click)="goDiagnosis()" class="button-content">
      <mat-card-content>
        <p>
          Рекомендации по практическому применению клинических критериев
          с целью идентификации пациента с сепсисом и септическим шоком
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card (click)="goRecommendations()" class="button-content">
      <mat-card-content>
        <p>
          Международные рекомендации по лечению сепсиса и Септического шока: 2016
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
