mat-grid-list {
    background-color: lightblue;
}

span, .mat-title {
    font-weight: bold;
}

.content {
    padding: 16px;
}

mat-card {
    margin: 8px;
}

mat-card:hover {
    cursor: pointer;
}

.button-container {
  display: flex;
}

.button-content {
  flex: 1;
}
